#grayscale {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

#myNostalgia {
	-webkit-filter: saturate(40%) grayscale(100%) contrast(45%) sepia(100%);
	filter: saturate(40%) grayscale(100%) contrast(45%) sepia(100%);
}

img.center {
    display: block;
    margin: 0 auto;
}

